# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# Środowisko i bazy (Docker wolumeny zostają na dysku)
.env
cassandra-data1/
cassandra-data2/

# IDE i systemowe
.idea/
.vscode/
.DS_Store
Thumbs.db